.skillsGrid {
  color: white;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 3vw;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 3%;
  background-color: #1d3557;
  // @include background-color-animation(
  //   $section-background1,
  //   $section-background2
  // );

  //Responsive
  @include media-lg {
    grid-template-columns: repeat(3, 1fr);
  }
  @include media-sm {
    grid-template-columns: repeat(2, 1fr);
  }
}

.skill_logo_container > img {
  height: 100px;
  transition: 200ms linear;
}
.react_logo {
  animation: rotate 10s linear infinite;
}
.logo_component {
  background-color: #ffffff;
  border: 4px solid #376996;
  padding: 15px 0 0;
  border-radius: 17px;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  & > p {
    color: black;
    margin-bottom: 0;
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 18px;
    animation: center_to_bottom 0.2s linear;
    position: relative;
    z-index: 1;
    transition: 0.5s;
  }
  &:hover {
    box-shadow: 0px 0px 0px 4px #f0932b;
    transform: scale(1.1);
    .skill_logo_container > img {
      transform: scale(1.1);
    }
    .skill_name_animation {
      animation: bottom_to_center 0.2s linear;
      bottom: 0;
      background-color: #011627;
    }
    p {
      color: white;
    }
  }
}
.skill_name_animation {
  transition: 0.5s;
  position: absolute;
  left: 0;
  bottom: -100%;
  height: 38px;
  width: 100%;
  color: white;
  /* animation: center_to_bottom 0.2s linear; */
}
